* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #070817;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 64px;
  padding-bottom: 64px;
}

h1 {
  color: #ff258e;
  text-shadow: 2px 2px 0px #00bdff;
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 64px;
  text-transform: uppercase;
}

/*Измениние фона текста при выделении*/
h1::selection {
  background-color: #00bdff;
}

h2 {
  color: #ffffff;
  text-shadow: 2px 2px 0px #00bdff;
  font-size: 31px;
  line-height: 48px;
  text-transform: uppercase;
}

h2::selection {
  background-color: #00bdff;
}

p {
  color: #ffffff;
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 36px;
  margin-top: 16px;
}

/*Измениние фона текста при выделении*/
p::selection {
  background-color: #00bdff;
}

a {
  display: block;
  outline: none;
  text-decoration: none;
  color: #ffffff;
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  margin: 0 auto;
}

a:link {
  color: #ffffff;
}

a:visited {
  outline: none;
  text-decoration: none;
  color: #ffffff;
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

a img {
  height: 20px;
  float: right;
  padding-top: 8px;
}

.cover_mob {
  width: 100%;
  display: none;
}

.cover_desk {
  width: 100%;
  display: block;
}

.container {
  margin: auto;
  width: 700px;
  min-width: 296px;
}

.header-main {
  margin-top: 42px;
}

.name {
  color: #ffffff;
  text-shadow: 2px 2px 0px #ff42ec;
  margin-top: auto;
}

/*Работает, не трогай*/
.link {
  background: #ff258e;
  border: 5px solid #ffffff;
  box-shadow: 8px 8px 0px #00bdff;
  padding: 24px 24px 24px 24px;
  margin-top: 64px;
}

.link:hover {
  background-color: #f3137f;
}

.link a {
  display: block;
  height: 100%;
  color: #666;
}

.stek {
  margin-bottom: 16px;
  margin-top: 88px;
}

.contact_name {
  margin-top: 88px;
}

.contact {
  margin-top: 16px;
}

.contact:hover {
  color: #00bdff;
}

@media only screen and (max-width: 700px) {
  body {
    padding-top: 12px;
    padding-bottom: 48px;
	padding-left: 12px;
	padding-right: 12px;
  }
  
  h1 {
    font-size: 30px;
    line-height: 54px;
  }
  
  a div h2 {
    font-size: 25px;
    line-height: 36px;
  }
  
  a div h2 {
    font-size: 25px;
    line-height: 36px;
  }

  p {
    font-size: 14px;
    line-height: 28px;
  }
  
  a img {
    height: 16px;
    margin-right: 16px;
	padding-top: 6px;
  }
  
  .container {
    width: 100%;
  }
  
  .header-main {
    margin-top: 24px;
  }
  
  .cover_desk {
    display: none;
  }
  
  .link {
    padding: 24px 12px 24px 12px;
  }
  
  .cover_mob {
    display: block;
  }

  .stek {
    margin-top: 64px;
  }
  
  .contact_name {
    margin-top: 64px;
  }
}
